@import url(https://fonts.googleapis.com/css?family=Anton);
body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro',sans-serif;
  color: beige;
  background-image: url('assets/images/back6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: #204040;
  opacity: 0.8;
  background-position: calc(50% + 550px) -190px;
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
.navbar-light .navbar-brand {
  color: #fff;
}

h1 {
  font-weight: 100;
  text-transform: capitalize;
  font-style: italic;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 58px;
  line-height: 54px;
}
section {
  margin: 0 auto;
}
p {
  font-size: 26px;
  line-height: 1.4;
  text-align: justify;
  font-family: 'Carrois Gothic', sans-serif;
  color: beige;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.mytitle {
  /* color: #00caa6; */
  font-size: 45px;
  line-height: 1;
  margin-top: -11px;
  -webkit-transition: width 1s ease-in-out;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 3s;
  -webkit-transform: translateX(-1000%);
  -ms-transform: translateX(-1000%);
  transform: translateX(-1000%);
  letter-spacing: 1px;

  color: #fc0;
}
.animate .mytitle {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.App {
  text-align: center;
}

.logo-circle {
  height: 40vmin;
  border-radius: 10px;
}
.header-container {
  margin-bottom: 5%;
}
.header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  margin-bottom: 5%;
  /* background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

.link-item {
  margin: 0 10px;
  padding: 10px;
  color: #09d3ac;
}
.site-title {
  padding-left: 15%;
}
.header-bar {
  margin-top: 10%;
  padding-bottom: 10%;
}
.logo-con {
  width: 120px;
  height: 120px;
  border: 1px solid #09d3ac;
  border-radius: 50%;
  position: absolute;
  top: 1%;
  left: 2%;
  z-index: 1110;
  background-color: transparent;
  background-image: url(logo.jpg);
  background-repeat: no-repeat;
  background-size: 118px 145px;
}
.link-logo {
  color: #09d3ac;
}
.welcomeTxt{
  color:#fc0;
  font-size: 3rem;
}
.typingText{
  color:#7f367f;
}
.bg-dark{
  background-color: #204040 !important;
}
p{
  font-size: 1.2rem;
  /* color: #666; */
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  font-weight: normal;
}
h4{
  color:#e88fe8;
}
.skills{
  display: flex;
    flex-wrap: wrap;
}
.skills-skill{
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: #5f5edb99;
  border-radius: 35px;
  font-weight: 600;
  color: #e3c5c5;
}

/* Contact form styles */
#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}